@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

.bg-loading {
  background-image: url("./images/loadingBg.jpg");
  background-size: cover;
  background-position: center;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(75, 85, 99);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(31, 41, 55);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(30, 58, 80);
}
